<h2 i18n="Label for Author Display Page">Here's the list of authors stored : </h2>

<table id="users">
  <thead>
  <tr>
    <th i18n="Header Name for Author Display Page">FirstName</th>
    <th i18n="Header LastName for Author Display Page">LastName</th>
    <th i18n="Header Delete for Author Display Page">Delete ?</th>
    <th i18n="Header Modifier for Author Display Page">Modify ?</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let auteur of auteurs">
  <td>{{auteur.nom}}</td>
  <td>{{auteur.prenom}}</td>
  <td><button class="btn my-btn" id="remove" (click)="Suppression(auteur.id)" i18n="Button delete for Author Display Page">Delete</button></td>
  <td><button class="btn my-btn" id="modifier" (click)="ouvrirModale(auteur.id)" i18n="Button modify for Author Display Page">Modify</button></td>
</tr>
  </tbody>
</table>
